# Refer to the README.md to see how to find these values.

# API Token
CLUBHOUSE_API_TOKEN=

# User Credentials
CLUBHOUSE_COMPANY=
CLUBHOUSE_ORGANIZATION=
CLUBHOUSE_SESSION=
CLUBHOUSE_ORGANIZATION_SLUG=

# Defines if the application will log information.
LOGGING_ENABLED=true

# Defines if the application will store intermediate files.
DEBUG_MODE_ENABLED=false

# Defines if the application will try to use local data.
USE_LOCAL_CLUBHOUSE_DATA=false